<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<div id="message">
    <div id="message_layer" onmouseover="actual_layer=this.id" style="position:absolute;left:176px;top:-112px;z-index:9999">
        <table cellspacing="0" cellpadding="0" border="0">
            <tbody>
            <tr>
                <td class="m_top_left">
                    <img class="m_top_left_corner" src="images/spacer.gif" width="3" height="3">
                </td>
                <td class="m_top_center"></td>
                <td class="m_top_right"></td>
            </tr>
            <tr>
                <td class="m_middle_left"></td>
                <td class="m_middle_center">
                    <div class="message" align="left" style="text-align:left">穷屌丝，你不能通过 ！在村子里发生了奇怪的事情。<br>
                        <div align="center"><form action="" onsubmit="document.getElementById('message').innerHTML='';script_eval(1, Array('show_message(\'穷屌丝，你不能通过 ！在村子里发生了奇怪的事情。\', key, script, 0, false, false);'));return false;">
                            <input type="submit" value="OK"></form>
                        </div>
                    </div>
                </td>
                <td class="m_middle_right"></td>
            </tr>
            <tr>
                <td class="m_bottom_left"></td>
                <td class="m_bottom_center"></td>
                <td class="m_bottom_right"><img class="m_bottom_right_corner" src="images/spacer.gif" width="3" height="3"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>